<section class="slider"
  (mouseup)="onMouseUp($event)"
  (mouseout)="onMouseOut($event)"
  (mousemove)="onMouseMove($event)">
  <div class="slider__text">
    {{params.begin}}
  </div>
  <div class="slider__body"
    #sliderBody 
    [ngStyle]="getSliderBodyStyles()">
    <div class="slider__body-point"
      #pointLeft 
      [ngStyle]="points.leftStyles"
      (mousedown)="onMouseDown($event, 'left')">
      F
    </div>
    <div class="slider__body-point"
      #pointRight
      [ngStyle]="points.rightStyles"
      (mousedown)="onMouseDown($event, 'right')">
      T
    </div>
    <div *ngFor="let block of params.constraints; index as i; trackBy: index"
      [ngStyle]="blockedIntervalStyle(block)"
      class="slider__body-block">
    </div>
  </div>
  <div class="slider__text">
    {{params.end}}
  </div>
</section>
